:root {
    --bg-color: #E3E8F1; 
    --main-white: white;
    --main-black: black;
    --small-font: 0.75rem;
    --standard-radius: 8px;
    --shadow-soft: 5px 5px 15px rgba(0, 0, 0, 0.3);
    --standard-gap: 16px;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Roboto_woff/Roboto-Regular.woff2') format('woff2'),
        url('./Roboto_woff/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 5fr;
}

aside {
    background-color: #2596D1;
    grid-row: 1 / -1;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: var(--standard-gap);
}

header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 72px 0 24px;
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

main {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: var(--standard-gap);
}

.sidebar-link:hover,
.sidebar-link:active {
    background-color: rgba(255, 255, 255, 0.1);
}

svg {
    width: 24px;
    fill: var(--main-white);
}

span {
    font-family: 'Roboto';
    color: var(--main-white);
    font-weight: 700;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.dashboard {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.dashboard,
.communities {
    margin-bottom: 48px;
}

.dashboard svg {
    width: 40px;
    margin: 0 8px 0 -8px;
}

.dashboard span {
    font-size: 1.5rem;
}

header span {
    color: var(--main-black);
}

.search,
.notification {
    padding: 1rem 0 0px 0;
    display: flex;
    align-items: center;
}

.notification {
    justify-content: end;
    display: flex;
    gap: 24px;
}

header svg {
    fill: var(--main-black);
}

input {
    width: 80%;
    height: 32px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: var(--bg-color);
    border: none;
}

img {
    width: 50px;
    border-radius: 50%;
}

.greetings {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 1rem;
}
.greetings img {
    width: 70px;
    grid-row: 1 / -1;
    margin: 0 1rem;
    align-self: center;
}

.greetings span:nth-of-type(1) {
    align-self:flex-end;
    font-size: var(--small-font);
    padding-bottom: 8px;
}

.greetings span:nth-of-type(2) {
    font-size: 1.3rem;
}

.action-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: end;
}

button {
    border-radius: 1rem;
    border: none;
    background-color: #1992D4;
    color: #fdfdff;
    padding: 8px 1rem;
    width: 96px;
    height: 32px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    transform: translateY(2px);
    filter: brightness(0.9);
}

main .project {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--standard-gap) 24px;
    padding: 8px 1rem 40px 24px;
}

.box {
    background-color: var(--main-white);
    border-radius: var(--standard-radius);
    box-shadow: var(--shadow-soft);
    padding: 24px 1rem;
    border-left: 8px solid #F0B429;
    display: flex;
    flex-direction: column;
}

.box svg {
    fill: var(--main-black);
}

.box p {
    flex-grow: 1;
}

.svg {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.span_projects {
    color: var(--main-black);
    grid-column: 1;
    grid-row: 1;
    padding: 1rem 0 0 24px;
}

.project span {
    color: var(--main-black);
}

.span_announce {
    grid-column: 2;
    grid-row: 1;
    color: var(--main-black);
    padding: 1rem 0 0 1rem;
}

.right-side {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 8px 24px 40px 1rem;
}

.announcements {
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(3, auto);
    background-color: var(--main-white);
    border-radius: var(--standard-radius);
    padding: 1rem 1rem 24px 1rem;
    box-shadow: var(--shadow-soft);
    row-gap: var(--standard-gap);
}

.small_box {
    border-bottom: 1px solid var(--bg-color);
}

.box_1 {
    padding-top: 0;
}

.box_3 {
    border-bottom: none;
}
.small_box span {
    color: var(--main-black);
}

.small_box p {
    margin-bottom: 0;
    font-size: var(--small-font);
}

.trending {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 1rem 0 0 0;
}

.trending span {
    color: var(--main-black);
    padding-bottom: 8px;
}

.trend_box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
}

.trend_box img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: none;
    grid-column: 1;
    grid-row: 1 / span 2;    
}

.trend_box span:nth-of-type(1) {
    grid-column: 2;
    grid-row: 1;
    align-self: self-end;
}

.trend_box span:nth-of-type(2) {
    color: #bababa;
}

.trend_box span {
    font-size: var(--small-font);
    padding-bottom: 2px;
    font-weight: 100;
}

.trend_parent {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
    background-color: var(--main-white);
    border-radius: var(--standard-radius);
    box-shadow: var(--shadow-soft);
    row-gap: 4px;
}