@font-face {
    font-family: 'Roboto';
    src: url('./Roboto_woff/Roboto-Regular.woff2') format('woff2'),
        url('./Roboto_woff/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: #2596D1;
    grid-row: 1 / -1;
}

.header {
    grid-column: 2;
}

.main-content {
    background-color: #E3E8F1;
}