@font-face {
    font-family: 'Roboto';
    src: url('./Roboto_woff/Roboto-Regular.woff2') format('woff2'),
        url('./Roboto_woff/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background-color: #2596D1;
    grid-row: 1 / -1;
}

.header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 72px 0 24px;
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-content {
    background-color: #E3E8F1;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
}

.sidebar-link {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.sidebar-link:hover,
.sidebar-link:active {
    background-color: rgba(255, 255, 255, 0.1);
}

svg {
    width: 24px;
    fill: white;
    margin: 0 16px;
}

span {
    font-family: 'Roboto';
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

#dashboard {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

#dashboard,
#communities {
    margin-bottom: 64px;
}

#dashboard svg {
    width: 40px;
    margin: 0 8px;
}

#dashboard span {
    font-size: 1.5rem;
}

.header span {
    color: black;
}

.search,
.notification {
    padding: 16px 0;
    display: flex;
    align-items: center;
}

.notification {
    justify-content: end;
}

.header svg {
    fill: black;
}

input {
    width: 80%;
    height: 32px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #E3E8F1;
    border: none;
}

img {
    width: 50px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 24px;
}

.notification svg {
    margin-right: 24px;
}

.greetings {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 16px;
}
.greetings img {
    width: 70px;
    grid-row: 1 / -1;
    margin: 0 16px;
    align-self: center;
}

.greetings span:nth-of-type(1) {
    align-self:flex-end;
    font-size: 0.75rem;
    padding-bottom: 8px;
}

.greetings span:nth-of-type(2) {
    font-size: 1.3rem;
}

.action-button {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: end;
}

button {
    border-radius: 16px;
    border: none;
    background-color: #1992D4;
    color: #fdfdff;
    padding: 8px 16px;
    width: 96px;
    height: 32px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    transform: translateY(2px);
    filter: brightness(0.9);
}

.main-content .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);
    gap: 16px 24px;
    padding: 24px 16px 80px 24px;
}

.box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 24px 16px;
    border-left: 8px solid #F0B429;
}

.box svg {
    fill: black;
    width: ;
}

.svg {
    display: flex;
    justify-content: flex-end;
}

.project span {
    grid-column: 1 / span 2;
    color: black;
}